{% extends "base.html" %}

{% block nojavascript %}
<div id="noscript" class="err">
        <h3>Errore JavaScript: Il client {{game_name}} MUD richiede di
            ha Javascript attivato.</h3>
            <p>Disattiva eventuali script-blocker e/o passare a un web browser che supporta javascript. <p>
                Questo errore potrebbe anche essere dovuto al fatto di non essere in grado di accedere a
                la libreria jQuery.</p>
        <!-- This is will only fire if javascript is actually active -->
        <script language="javascript" type="text/javascript">
            $('#noscript').remove();
        </script>
    </div>
{% endblock %}

{% block nojquery %}
<script type="text/javascript" charset="utf-8">
    if(!window.jQuery) {
        document.write("<div class='err'>Libreria jQuery non trovata o caricata. Controlla che Javascript non sia bloccato nel tuo browser.</div>");
    }
</script>
{% endblock %}