
.tg-border-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .tg-border {
        position: absolute;
        background-position: 0 0;
    }
    .tg-border-top, .tg-border-bottom {
        position: absolute;
        height: $border-size;
        width: 100%;
        background-repeat: repeat-x;

        // Corners
        &::after, &::before {
            content: '';
            position: absolute;
            display: block;
            width: $border-size;
            height: $border-size;
        }

        &::before {
            right: 0;
            left: 0;
        }

        &::after {
            top: 0;
            right: 0;
        }
    }
    
    
    .tg-border-left, .tg-border-right{
        position: absolute;
        width: $border-size;
        top: $border-size;
        bottom: $border-size;
    }
    
    .tg-border-top {
        top: 0;
        background-image: url('../images/frame/stone-horizontal-top.jpg');
        &::after {
            background-image: url('../images/frame/stone-corner-topright.jpg');
        }
        &::before {
            background-image: url('../images/frame/stone-corner-topleft.jpg');
        }

    }
    .tg-border-bottom {
        bottom: 0;
        background-image: url('../images/frame/stone-horizontal-bottom.jpg');
        &::after {
            background-image: url('../images/frame/stone-corner-bottomright.jpg');
        }
        &::before {
            background-image: url('../images/frame/stone-corner-bottomleft.jpg');
        }
    }
    

    .tg-border-right {
        right: 0;
        background-image: url('../images/frame/stone-vertical-right.jpg');
    }

    .tg-border-left {
        left: 0;
        background-image: url('../images/frame/stone-vertical-left.jpg');
    }
    
}
