//Sprites Mixins and List
//@import 'sprites';
@import 'sprites-mixins';
/*Elements*/
@import 'navbar';
@import 'borders';



html, body {
    width: 100%;
    height: 100%;
    background-color: #281e13;
}

.tg-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.tg-dock {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    order: 1;
    box-shadow: inset 0 0 16px 2px black;
    padding: $border-size $border-size 0; 
}

.tg-box {
    box-shadow: 0 0 16px 0px rgba(255, 168, 6, 0.8);
}


.tg-io {
    display: flex;
    flex-direction: column;
    flex: 1;

    // Main output area
    .tg-output {
        display: flex;
        flex-grow: 1;
        background-color: $black;
        color: $gray-200;
        z-index: 2;
    
        .tg-output-wrap {
            width: 100%;
            z-index: 1;
            box-sizing: border-box;
            padding: .5rem;
            overflow: hidden;
        }
    }
    
    // Main Input text area
    .tg-input {
        display: flex;
        overflow: hidden;
        
        input[type="text"]{
            width: 100%;
            line-height: 24px;
            background-color: #211f1d;
            z-index: 2;
            border: none;
            color: #FFF;
            padding: 2px 6px;
            outline: none;
        }
        button[type="button"] {
            display: none;
        }
    }
}

.tg-shadow-in {
    box-shadow: inset 0 0 16px 2px black;
}

/* LEFT SIDEBAR */
.tg-left-sidebar {
    display: flex;
    flex: 0 0 20px;

    .tg-nav-list {
        li a {
            color: black;
            background-color: #ccc;
            box-sizing: border-box;
            display: block;
            height: 20px;
            width: 20px;
            margin: $border-size 2.5px 5px;
            border:1px solid white;
        }
    }
    /*Icons List*/
        //mobile
    @include media-breakpoint-down(xs) {
        display: none;
    }
}

/* RIGHT SIDEBAR */
.tg-right-sidebar {
    box-sizing: content-box;
    width: 250px;

    .tg-map{
        width: 250px;
        height: 250px;
        border: 1px solid white;
    }

    // Mobile
    @include media-breakpoint-down(xs) {
        display: none;
    }
}



/*
* OPTIONS
*/

.op-003 {}
.op-002 {}
.op-001 {}

// Attiva un divisorio per ogni blocco di testo in arrivo dal server.
.op-004 {
    .out {
      border-bottom: 1px solid #444;
      padding-bottom: .5em;
    }
}
.op-005 {
}


@include media-breakpoint-down(xs) {

    .tg-dock {
        padding: #{$border-size / 2} #{$border-size / 2} 0; 
    }    
}