@import 'variables';
//Sprites Mixins and List
@import 'sprites';
@import 'sprites-mixins';
/*Elements*/
@import 'navbar';
@import 'left-sidebar';
@import 'right-sidebar';
@import 'borders';



html, body {
    width: 100%;
    height: 100%;
}

.tg-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.tg-dock {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    order: 1;

    .tg-io {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    // Main output area
    .tg-output {
        display: flex;
        flex-grow: 1;
        padding: $border-size * 2;
        // background-color: $black;
        // color: $white;
    }

    .tg-output-wrap {
        width: 100%;
    }

    // Main Input text area
    .tg-input {
        display: flex;
        border-top: 1px solid $black;
        height: 30px;
        overflow: hidden;
       
        input[type="text"]{
            flex-grow: 1;
            flex-basis: 0;
            max-width: 100%;
        }
    }
    
    .tg-box {
        position: relative;
        margin: $border-size / 2;
    }
}


// Debug container
#debug {
    border: 2px solid red;
    max-height:400px;
    overflow: auto;
    margin: 2px;
    line-height: 1;
    min-height: 250px;
    padding:10px 12px;
    &:before {
        content: 'DEBUG -----';
        display:block;
        font-size:10px;
        color: #333;
    }
}