.tg-right-sidebar {
    box-sizing: content-box;
    width: 250px;
    border-left: 1px solid $black;

    .tg-map{
        width: 250px;
        height: 250px;
        border-bottom: 1px solid $black;
    }

    // Mobile
    @include media-breakpoint-down(xs) {
        display: none;
    }
}